/06-Backtracking.pdf
/14.-anandika-pawitri.pdf
/181-493-1-PB.pdf
/6571-16598-1-SM.pdf
/admin,+4.+Udin.pdf
/dina_oktavia,+##default.groups.name.manager##,+1425-99Z_Artikel-8534-1-2-20170823.pdf
/Euclidean Algorithm.pdf
/Jurnal Gejala dan Penyakit Kulit.pdf
/Personal_Hygiene_with_the_Incidence_of_Skin_Diseas.pdf
/Praktikum
/Programming_in_Prolog.pdf
/PrologCh1.pdf
/PrologCh2 (Part 1).pdf
/PrologCh2 (Part 2).pdf
/PrologCh3 (Part 1).pdf
/PrologCh3 (Part 2).pdf
/PrologCh3 (Part 3).pdf
/Scopusbooks04072023.xlsx
/Screenshot 2024-02-28 214551.png
/Screenshot 2024-02-28 232734.png
/Screenshot 2024-03-05 103451.png
/Screenshot 2024-03-05 103518.png
/Soal nomor 1 dan 2 Task 1.png
/Soal nomor 3 Task 1.png
/Task 1 Declarative Programming.pdf
/Teori
/UAP Deklaratif.xlsx
/~$UAP Deklaratif.xlsx